.flash
  グループを作成しました
.wrapper
  = render "shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          menber : 
          -@group.users.each do |user|
            %li.main-header__left-box__member-list__menber
            =user.name

      = link_to edit_group_path(@group),class: "main-header__edit-btn" do
        Edit
    .messages
      = render @messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            dd
          %p.message__upper-info__date
            2019/11/05
            %p.message__text
              ygohuig7iypoi
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'forms__image' do
          = fa_icon 'photo'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: "submit-btn"
        